body{
    margin: 0;
    background-color:white;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu  > img {
    margin-left:50px;
    margin-top: 5px;
    margin-right: 20px;
    
}
.menu :hover{
    background-color: lightgray;
    border-radius: 5px;
    border-style: hidden;
    padding: 1px;
    cursor: pointer;
    margin-left: 50px;
    
}
.user >img{ 
    padding-left: 13px;
    padding-top: 5px;
}
.user :hover{
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    padding:1px;
    margin-left: 5px;
    margin-right: 5px;
}
.logo > img{
   padding-bottom: 1px;
}
.logo >input{
    margin-top: 7px;
    padding:10px;
    border-radius: 20px;
    width: 250px;
    border:1px solid lightgray;
}

.logo{
    display: flex;
}
header{
    position: fixed;
    align-items: center;
    top:0;
    background-color: white;
    box-shadow: 0 1px 3px rgb(224, 224, 224),0 2px 2px;
    background-color: solid white;
    height: 50px;
    padding: 6px;
    width: 100%;
    margin-bottom: 40px;
    
}
.card-item{
    display:flex;
    flex-direction: column;
    /* padding-left: 190px; */
    padding-top: 5px;
    
}

/*.like{
    display:flex;
    margin-right: 100px ;*/
   
.like {
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    margin:0 45px;
    
    
}
.container{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    

}
.container img{
    padding-top: 5px;
    cursor: pointer;
    
}

.final-icon{
    /* padding-right:20px ; */
    display: flex;
    align-items: center;

    
}
.final-icon >img{
    margin-left: 15px;
}
.story{
    margin-left:0;
    cursor: pointer;
    margin-bottom: 15px;
}
.card-item> img{
    width: 100%;
    object-fit: cover;
}
.icon{
    padding-bottom: 20px;
}
.wrapper{
    /* padding-left: 10px; */
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 20px;
    width:100%;
}
.userName{
    display: flex;
    margin-left: 10px;
}

.right-bar {
    position: fixed;
    margin-left: 15px;
    margin-top: 60px;

}
.left-bar{
    position: fixed;
    margin-left: 1050px;
    margin-top: 45px;
}
.middle{
    margin-top: 60px;
    margin-left: 400px;
}
.phone{
    margin-left: 100px;
}
.Contacts >b{
    margin-bottom: 3px;
    
}
.Contacts b{
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
.useless{
    display: flex;
}
